!DOCTYPE html>
<html>
<head>
<title>Accueil</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
rel="stylesheet">
</head>
<body>
<div class="text-center mt-8">
<h1 class="text-5xl">BreakDown Portal Service</h1>
<p class="text-xl text-gray-700">Veuillez vous authentiier.</p>
</div>
</body>
</html>
